<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-DRB3Y9CQJ1"></script> -->
		<!-- <script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-DRB3Y9CQJ1');
		</script> -->
		<title>R-Team Digital Solutions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<a id="scrollUp" ngClass="{'hide': hideScrollToTop}" style="position: fixed; z-index: 15; display: block;">
			<mat-icon (click)="scrollToTop()">arrow_upward</mat-icon>
		</a>
		<!-- Header-->
			<div id="header" class="alt">
				<div class="row">
					<div class="logo col-sm-6">
						<img src="assets/images/Logo_3-removebg.png" alt="" width="130"/>
					</div>
					<div class="logo col-sm-6">
						<div class="d-inline">
							<mat-icon class="phone-enq-icon">phone_iphone</mat-icon>
						</div>
						<div class="enquiry-div">
							<label class="m-0">ENQUIRY & SUPPORT</label>
							<label class="m-0">+91-9025708661/+91-8015761437</label>
						</div>
						<div class="enquiry-div" (click)="scrollToOurServices()">
							<label class="m-0">OUR SERVICES</label>
						</div>
						<div class="enquiry-div" (click)="scrollToOurPortfolio()">
							<label class="m-0">OUR PORTFOLIO</label>
						</div>
						<div class="enquiry-div" (click)="scrollToAboutUs()">
							<label class="m-0">ABOUT US</label>
						</div>
					</div>
				</div>
<!-- 
				<div class="logo">
					<img src="assets/images/Logo_3-removebg.png" alt="" width="150"/>
				</div> -->
				<!-- <a href="#menu">Menu</a> -->
			</div>

		<!-- Nav -->
			<!-- <nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav> -->

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>R-Team Digital Solutions</h1>
						<h2>Leveraging Technology. Making Every Bussiness Count!</h2>
					</header>
					<!-- <a href="#ddddd" class="button big scrolly">Explore Us</a> -->
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
				<section class="wrapper style1" id="ourServices">
					<div class="inner">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1 class="section-heading">Our Services</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4">
									<h3 class="">Customized Softwares</h3>
									<span>
										We work on understanding your business model and develop software for your business needs, thereby you can increate your 
										productivity and minimize the Manual/Paper work.
										Softwares we develop can be used both offline or online based on your requirement and cost effectiveness. We are not 
										stopped till the development and implementation phase of the software, we travel with your business problems and suggestions
										that required to be addressed through constant support for the software we develop through very minimal support charges.
									</span>
								</div>
								<div class="col-sm-4">
									<h3 class="">Software As a Product</h3>
									<span>
										Our company works towards providing software solution as a product for your business which covers the end to end business
										requirement which may extend to your customer reach as well. We develop a software as a full flow application ranging from
										web application to admin portals and can be extended to your business end-use application through Web or Mobile Application.
										Softwares such as Membership Maintenance of an Organization or business, Food Ordering system, Point of Sale(POS) are some 
										of the applications we have successfully delivered to our wide range of customer base.
									</span>
								</div>
								<div class="col-sm-4">
									<h3 class="">Mobile Apps</h3>
									<span>
										In this digitally transformed world, there is huge demand of mobile applications for any kind of business to go online.
										We involved in developing all types of mobile applications as per the business requirements and complexity. Users nowadays
										prefers mobile apps over the web applications as there is ease of access from anywhere just having a mobile in hand. 
										We develop both Android and IOS support mobile applications with good user experience and web security.
										We can assist you amplify your business productivity with phenomenal mobile app solutions.
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4">
									<h3 class="">Digital Marketing</h3>
									<span>
										We have Digital marketing experts who provides and guides to use digital media effectively. Business management people 
										and all types of customer are getting great results from their search, email, or social media marketing. Digital
										Marketing enriches your customer base and increases your profit percentage and provides feedback from the marketing
										conditions.
									</span>
								</div>
								<div class="col-sm-4">
									<h3 class="">Web Designing</h3>
									<span>
										We work towards designing wide range of digital contents such as Logo Designing, Banner Designing, Brand Designing Concepts,
										and many more which can be custom design as per your business needs. Team of specilized web designers help you out to 
										convert your thoughts and ideas into the Art of Design for your business to go digital with minimal cost.
									</span>
								</div>
								<div class="col-sm-4">
									<h3 class="">Website & Maintenance</h3>
									<span>
										Websites are the virtual address for all the business who are going digital. It is very important to host
										a website for your business to attract the customer and grow your business online. We are working towards
										designing and hosting website for your business. We can integrate all in one shopping feature in your words
										with Payment Gateway option where customer can directly pay you the amount for your services. 
									</span>
								</div>
							</div>
					</div>
				</section>

				<section class="wrapper style1" id="ourProducts" style="background: white;">
					<div class="inner">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1 class="section-heading">Our Portfolio</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
										<div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">
											<div class="carousel-inner">
												<div class="carousel-item active">
													<img src="assets/images/products_carousel/Billing-1.jpg" 
													alt="POS App">
												</div>
												<div class="carousel-item">													
													<img src="assets/images/products_carousel/Billing-2.jpg" 
													alt="POS App">
												</div>
											</div>										
										</div>
								</div>
								<div class="col-sm-6">
									<h3 class="">Mr.Bill - POS Billing Software</h3>
									<ul>
										<li>
											Point of Sale Software becomes highly demand for all the retail business to track their sales and expenses.
											We provide customised POS system as per the business requirements
										</li>
										<li>
											Our software supports both Online and Offline with
											complete data backup of their valuable dataset.
										</li>
										<li>
											The backed up data can be restored anytime anywhere with our
										complete maintenance and enhancement programme.
										</li>
										<li>
											We delivered POS software to different retail shops rangin from 
										Super Markets, Clothing stores, Departmental Stores, Bakery & Confectionery and Hotels & Restaurants.
										</li>

									</ul>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<h3 class="">Food Ordering Software</h3>
									<ul>
										<li>
											We developed and implemented End to End Food ordering and Products Maintenance software solutions to the 
											leading Food manufacturers in United Kingdom.
										</li>
										<li>
											This software solutions includes Web Application and Mobile
										Application both Android and IOS for food ordering and tracking the orders.
										</li>
										<li>
											All these applications are
											managed by overall Admin application by the business management to serve their customers well.
										</li>
										<li>
											We make sure the application is end to end protected with highly encrypted mechanism while 
											storing the customer data to 
											ensure there is no data breach
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
										<div id="demo1" class="carousel slide" data-ride="carousel" data-interval="3000">
											<div class="carousel-inner">
												<div class="carousel-item active">													
													<img src="assets/images/products_carousel/Wings-5.jpg" 
													alt="Wings Food Ordering Software">
												</div>
												<div class="carousel-item">
													<img src="assets/images/products_carousel/Wings-4.jpg" 
													alt="Wings Food Ordering Software">
												</div>
												<div class="carousel-item">													
													<img src="assets/images/products_carousel/Wings-6.jpg" 
													alt="Wings Food Ordering Software">
												</div>
												<div class="carousel-item">													
													<img src="assets/images/products_carousel/Wings-7.jpg" 
													alt="Wings Food Ordering Software">
												</div>
											</div>										
										</div>
								</div>
							</div>
					</div>
				</section>

				<section class="wrapper style1" id="aboutUs">
					<div class="inner">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1 class="section-heading">About Us</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<span>
										We have highly skilled engineers with excellent technical knowledge and 
										experience in using the latest software standards. We have built a large pool of 
										knowledge that we apply to deliver solutions that meet client's needs, expectations and budget. 
										By putting our clients at the heart of everything we do, we are proud that we are still supporting our 
										very first business client.
				  
										R-Team Digital Solutions is committed to develop Industry-leading softwares and services, Data management, 
										Digital Marketing to help manufacturers significantly improve quality, productivity and profitablitity.
										 We work closely with the clients to interpret theie personal and business needs, identifying opportunities for growth 
										 and minimize the risk. 
									</span>
								</div>
							</div>
					</div>
				</section>

				<!-- Section -->
					<!-- <section class="wrapper style1">
						<div class="inner">
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="assets/images/whyus.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h2>What makes us who we are today…</h2>
										<h4>We have highly skilled engineers with excellent technical knowledge and 
                      experience in using the latest software standards. We have built a large pool of 
                      knowledge that we apply to deliver solutions that meet client's needs, expectations and budget. 
                      By putting our clients at the heart of everything we do, we are proud that we are still supporting our 
                      very first business client.</h4>
									</div>
								</div>
						</div>
					</section> -->

				<!-- Section -->
					<!-- <section id="ddddd"  class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h2>SERVICES WE DO ?</h2>
									<h4>R-Team Digital Solutions is committed to develop Industry-leading softwares and services, Data management, Digital Marketing to help manufacturers significantly improve quality, productivity and profitablitity. We work closely with the clients to interpret theie personal and business needs, identifying opportunities for growth and minimize the risk. </h4>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="assets/images/whatwedo.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section> -->

				<!-- Section -->
					<!-- <section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>THINGS WE COVER?</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="assets/images/webdesign.jpg" alt="" />
									</div>
									<h5>we are committed to providing state-of-the-art HTML web Development, offshore web design and Dynamic Web applications.</h5>
									<a href="#" class="button">Read More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="assets/images/mobiledes.png" alt="" />
									</div>
									<h5>Dive into the world of mobility with your unique ideas transforming into incredible apps for your business requirements. We can assist you amplify your business productivity with phenomenal mobile app solutions. </h5>
									<a href="#" class="button">Read More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="assets/images/digitaldesign.jpg" alt="" />
									</div>
									<h5>We have Digital marketing experts who provides and guides to use digital media effectively. Business management people and all types of customer are getting great results from their search, email, or social media marketing.</h5>
									<a href="#" class="button">Read More</a>
								</div>
							</div>
						</div>
					</section> -->

					<!-- <section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2" style="width: 100%">
								<div class="col col2" style="width: 100%">
									<h2>HOW WE WORK ?</h2>
									<p><h4>Well-organized processes and expert teams make it look simple. Your digital plans desire a strong strategy, development & a lot of assessment. Our teams are well equipped to handle your digital requirements with right planning and execution. Get it e-commerce, mobile, multimedia plan (online advertisements) interpersonal. We have well identified processes and respective groups to execute them. </h4> 
								</div>
								<div class="flex flex-3">
								<div class="col align-center" style="align-items: center;position: relative;left: 27%;">
									<div class="">
										<img src="assets/images/sdlc.png" alt="" />
									</div>
								</div>
							</div>
							</div>
						</div>
					</section> -->

			</div>

			<!-- <footer id="footer" style="background: #2a2d2d -->
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="row">
						<div class="col-sm-4">
							<h3>Contact Us</h3>
							<div>
								<mat-icon class="v-middle">location_on</mat-icon><span>Chennai, Tamil Nadu, India.</span>
							</div>
							<div class="mt-2">
								<mat-icon class="v-middle">phone_iphone</mat-icon><span>+91-9025708661/+91-8015761437</span>
							</div>
							<div class="mt-2">
								<mat-icon class="v-middle">alternate_email</mat-icon><span>rteamfounders&#64;rteamdigitalsolutions.com</span>
							</div>
						</div>
						<div class="col-sm-4">
							<h3>Social Media</h3>
							<ul class="icons">
								<li><a href="https://www.facebook.com/116148173558846/posts/116212426885754/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://instagram.com/rteamdigitalsolutions?igshid=gtqzbvqjqw98" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- <div>
					<div style="text-align: center;font-size: 40px;font-weight: bold;font-style: italic;color: brown;">LETS GET IN TOUCH</div>
          <h4 style="text-align: center;">Contact us at any time. We'd be delighted to hear from you - even if you just want to chat. 
            We are especially eager to talk about your software requirements and website problems but are open to converse about whatever 
            is on your mind.</h4>
					<div id="wrapper_1" style="display: flex;">
                        <div style="display: flex;width: 50%;justify-content: center;"> 
                          <div class="contactInfo">Contact Number</div>
                          <div class="contactInfo" style="width: 2%;">:</div>
                          <div class="contactInfo">  +91 9025708661 / +91 8015761437</div>
                        </div>
                         <div style="display: flex;width: 50%;justify-content: center;"> 
                          <div class="contactInfo">Email Id</div>
                           <div class="contactInfo" style="width: 2%;">:</div>
                          <div class="contactInfo">rteamgroups@rteamdigitalsolutions.com</div>
                        </div>
						</div>

					</div>
					<div class="copyright">
						<ul class="icons">
							<li><a href="https://www.facebook.com/116148173558846/posts/116212426885754/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://instagram.com/rteamdigitalsolutions?igshid=gtqzbvqjqw98" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>				 -->
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>